<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Turismo Aventura</title>
    <link href="css/indexStyles.css" rel="styleSheet">   
</head>
<body>
    <header>
        <img class="logo" src="/images/Logo.jpg" width=200px  height="200" alt="Logo de Turismo Aventura">
    </header>
<main>
    <section class="who-we-are">    
        <div>
            <img class="image" src="/images/quienes-somos.jpg" width=400px height="630" alt="imagenes quienes somos">
        </div>
        <div class="text">   
            <h1 class="resumeText">Quienes somos, vision, mision, qué hacemos...</h1> 
            <p class="description">Somos una empresa joven y en continuo crecimiento. La seguridad con la que se trabaja 
            es altamente calificada. Contamos con un equipo profesional que responde en cualquier circunstancia.
            Diagramamos programas que contemplan las exigentes expectativas de todo tipo de viajero, durante todo
            el año, brindando una variedad de servicios de aventura, desde propuestas sencillas, hasta travesías
            y ascensos para aquellos que se animan a más. Nos ponemos a tu entera disposición para acompañarte 
            en tu desafío de Turismo Aventura.</p>
        </div>
    </section>
    <section class="container">
        <div class="slider-container">
            <div class="contain-slider">       
                <img class="slider__img" src="/images/villapehuenia1.jpg"  width=1200px height="450" alt="villapehuenia 1">
            </div>
            <div class="contain-slider">       
                <img class="slider__img" src="/images/villapehuenia2.jpg" width=1200px height="450" alt="villapehuenia 2">
            </div>  
            <div class="contain-slider">       
                <img class="slider__img" src="/images/villapehuenia3.jpg" width=1200px height="450" alt="villapehuenia 3">
            </div>
            <div class="contain-slider">       
                <img class="slider__img" src="/images/villapehuenia1.jpg"  width=1200px height="450" alt="villapehuenia 1">
            </div>        
        </div>
    </section>
</main>
<footer>   
    aqui comienza el footer 
</footer>
</body>
<script src="js/slider.js"></script>
</html>