<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Turismo Aventura</title>

    <link href="css/indexStyles.css" rel="styleSheet">
</head>
<body>
    <header>
        <img class="logo" src="/images/Logo.jpg" height="200" width=200px alt="Logo de Turismo Aventura">
    </header>
<main>    
    <div class="who-we-are">
        <img class="image" src="/images/quienes-somos.jpg" height="360" width=360px alt="imagenes quienes somos"> 
        <p class="text">Somos una empresa joven y en continuo crecimiento. La seguridad con la que se trabaja es altamente calificada. Contamos con un equipo profesional que responde en cualquier circunstancia. Diagramamos programas que contemplan las exigentes expectativas de todo tipo de viajero, durante todo el año, brindando una variedad de servicios de aventura, desde propuestas sencillas, hasta travesías y ascensos para aquellos que se animan a más. Nos ponemos a tu entera disposición para acompañarte en tu desafío de Turismo Aventura.</p>
    </div>
</main>
<footer>

</footer>
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
</body>
    <link rel="stylesheet" href="/css/index.css">
</head>

<body>
</body>


<body>
    <header>
        <img src="images/logo.jpg" width=360px alt="Logo de Turismo Aventura">
    </header>

</body>

</html>