<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Turismo Aventura</title>
    <link href="css/indexStyles.css" rel="styleSheet"> 
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/normalize.css">  
</head>
<body>
    <header>
        <img class="logo" src="/images/Logo.jpg"  alt="Logo de Turismo Aventura">
    </header>
<main>
    <section class="who-we-are">    
        <img class="image" src="/images/quienes-somos.jpg"  alt="imagenes quienes somos">
        
        <div class="text">   
            <h1 class="resumeText">Quienes somos, vision, mision, qué hacemos...</h1> 
            <p class="description">Somos una empresa joven y en continuo crecimiento. La seguridad con la que se trabaja 
            es altamente calificada. Contamos con un equipo profesional que responde en cualquier circunstancia.
            Diagramamos programas que contemplan las exigentes expectativas de todo tipo de viajero, durante todo
            el año, brindando una variedad de servicios de aventura, desde propuestas sencillas, hasta travesías
            y ascensos para aquellos que se animan a más. Nos ponemos a tu entera disposición para acompañarte 
            en tu desafío de Turismo Aventura.</p>
        </div>
    </section>
    <section class="inpiration-phrase">
        <div>
            <h2> HAY DEMASIADAS AVENTURAS AHI AFUERA ESPERANDO SER VIVIDAS</h2>
        </div>
    </section>
    <section class="slider-section">
        <div class="slider-container">
            <div class="slider-contain">       
                <img class="slider-image" src="/images/villapehuenia1.jpg"   alt="villapehuenia 1">
            </div>
            <div class="slider-contain">       
                <img class="slider-image" src="/images/villapehuenia2.jpg" alt="villapehuenia 2">
            </div>  
            <div class="slider-contain">       
                <img class="slider-image" src="/images/villapehuenia3.jpg"  alt="villapehuenia 3">
            </div>
            <div class="slider-contain">       
                <img class="slider-image" src="/images/villapehuenia4.jpg"   alt="villapehuenia 4">
            </div>
            <div class="slider-contain">       
                <img class="slider-image" src="/images/villapehuenia1.jpg"   alt="villapehuenia 1">
            </div>        
        </div>
    </section>
</main>
<footer>   
    aqui comienza el footer 
</footer>
</body>
<script src="js/slider.js"></script>
</html>