<%- include ('partials/head', {style: 'register', title: 'Registro'}) %> 
    
</head>

<body>
 
    <%- include ('partials/header') %> 
    <main>
       
        <form action="/saveInformation" method="post" class="create-form">
            <div class="caja1">
            <div class="h2">
                <h2>Formulario para cargar actividad</h2>
            </div>
                    <div class="form-control">
                    <label>Nombre de la actividad:</label>
                    <input type="text" name="name" class="control">
                </div>
                <div class="form-control">
                    <label>Precio:</label>
                    <input type="number" name="price" class="control">
                </div>
                <div class="form-control">
                    <label>Fecha y Hora de INICIO:</label>
                    <input type="datetime-local" name="email" placeholder="nombre@gmail.com" class="control">
                </div>
                <div class="form-control">
                    <label>Fecha y Hora de FINALIZACION:</label>
                    <input type="datetime-local" name="email" placeholder="nombre@gmail.com" class="control">
                </div>
                
                

                <div class="form-control">
                    <label>Dificultad</label>
                    <select name="category" class="control">
                        <option value="argentina">Dificultad Baja</option>
                        <option value="bolivia">Dificultad Media</option>
                        <option value="brasil">Dificultad Alta</option>
                        <option value="chile">Dificultad Extrema</option>
                        
                    </select>
                    
                </div>
                <div class="form-control">
                    <label>Contraseña:</label>
                    <input type="password" name="password" class="control">
                </div>
                <div class="form-control">
                    <label>Confirmar Contraseña:</label>
                    <input type="repeat_password" name="repeat_password" class="control">
                </div>
            <div class="caja2">
                <button type="submit" class="form-button">Subir</button>
                <div class="pregunta-de-registro">
                    <label>¿Necesitas ayuda? <br>
                        Entra en este link</label>
                </div>
                <button type="gmail" class="form-button">Registrarse con Gmail</button>
                <button type="facebook" class="form-button">Registrarse con Facebook</button>
            </div>
            </div>
            </div>
        </div>
        </form>
    </main>
</header>

<%- include ('partials/footer') %> 