<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ProyectoDePrueba</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="./css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap" rel="stylesheet">
</head>
<body>
    <div class="containerPrincipal">
       
        <div class="form-group">
            <h1>¡BIENVENIDOS!</h1>
           
          
            <input id="usuario" type="text" class="form-control" name="username" placeholder= "usuario">
       
            
            <input id="contraseña" type="password" class="form-control" name="password" placeholder="contraseña">
        
            <a href="/"><button  class="boton">iniciar sesion</button></a>
            <a href="/register" class="cuenta">¿No tienes Cuenta? <b>Registrate</b></a>
            
            <a href="/recovery" class="olvidar">¿Olvidaste tu contraseña?</a>
            <a href="https://www.facebook.com"><button id="facebook">Ingresa con Facebook</button></a>
            <a href="https://www.gmail.com"><button id="gmail">Ingresa con Gmail</button></a>
      
        </div>
    </div>
</body>
</html>