<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrito de compras</title>
    <link rel="stylesheet" href="/css/productCartstyles.css">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/normalize.css">
</head>

<body>
    <header>
        <img src="/images/Logo.jpg" width=100px alt="Logo de Turismo Aventura">
    </header>

    <main>

        <div class="cart-container">

            <div class="file-txt">
                <ul class="list-txt">
                    <li>Lista de productos</li>
                </ul>
                <ul class="product-txt">
                    <li>Cantidad</li>
                    <li>Subtotal</li>
                    <li>Cancelar</li>
                </ul>
            </div>

            <div class="product-container">
                <img class="product-image" src="/images/logo.jpg" alt="product-image">
                <div class="description">
                    Aca va la descripcion de la compra
                </div>
                <div class="box">
                    <div class="box-container">
                        <div class="box-amount">
                            <select name="Cantidad" id="cantidad">
                                <option value="1persona" selected>1 persona</option>
                                <option value="2persona">2 personas</option>
                                <option value="3persona">3 personas</option>
                                <option value="4persona">4 personas</option>
                                <option value="5persona">5 personas</option>
                                <option value="6persona">6 personas</option>
                            </select>
                        </div>
                    </div>
                    <div class="box-container">
                        <div class="box-subtotal">Subt</div>
                    </div>
                    <div class="box-container-x">
                        <div class="box-cancel">X</div>
                    </div>
                </div>
            </div>
            <div class="product-container">
                <img class="product-image" src="/images/logo.jpg" alt="product-image">
                <div class="description">
                    Aca va la descripcion de la compra
                </div>
                <div class="box">
                    <div class="box-container">
                        <div class="box-amount">
                            <select name="Cantidad" id="cantidad">
                                <option value="1persona" selected>1 persona</option>
                                <option value="2persona">2 personas</option>
                                <option value="3persona">3 personas</option>
                                <option value="4persona">4 personas</option>
                                <option value="5persona">5 personas</option>
                                <option value="6persona">6 personas</option>
                            </select>
                        </div>
                    </div>
                    <div class="box-container">
                        <div class="box-subtotal">Subt</div>
                    </div>
                    <div class="box-container-x">
                        <div class="box-cancel">X</div>
                    </div>
                </div>
            </div>
            <div class="product-container">
                <img class="product-image" src="/images/logo.jpg" alt="product-image">
                <div class="description">
                    Aca va la descripcion de la compra
                </div>
                <div class="box">
                    <div class="box-container">
                        <div class="box-amount">
                            <select name="Cantidad" id="cantidad">
                                <option value="1persona" selected>1 persona</option>
                                <option value="2persona">2 personas</option>
                                <option value="3persona">3 personas</option>
                                <option value="4persona">4 personas</option>
                                <option value="5persona">5 personas</option>
                                <option value="6persona">6 personas</option>
                            </select>
                        </div>
                    </div>
                    <div class="box-container">
                        <div class="box-subtotal">Subt</div>
                    </div>
                    <div class="box-container-x">
                        <div class="box-cancel">X</div>
                    </div>
                </div>
            </div>
            <div class="product-container">
                <img class="product-image" src="/images/logo.jpg" alt="product-image">
                <div class="description">
                    Aca va la descripcion de la compra
                </div>
                <div class="box">
                    <div class="box-container">
                        <div class="box-amount">
                            <select name="Cantidad" id="cantidad">
                                <option value="1persona" selected>1 persona</option>
                                <option value="2persona">2 personas</option>
                                <option value="3persona">3 personas</option>
                                <option value="4persona">4 personas</option>
                                <option value="5persona">5 personas</option>
                                <option value="6persona">6 personas</option>
                            </select>
                        </div>
                    </div>
                    <div class="box-container">
                        <div class="box-subtotal">Subt</div>
                    </div>
                    <div class="box-container-x">
                        <div class="box-cancel">X</div>
                    </div>
                </div>
            </div>
            <div class="product-container">
                <img class="product-image" src="/images/logo.jpg" alt="product-image">
                <div class="description">
                    Aca va la descripcion de la compra
                </div>
                <div class="box">
                    <div class="box-container">
                        <div class="box-amount">
                            <select name="Cantidad" id="cantidad">
                                <option value="1persona" selected>1 persona</option>
                                <option value="2persona">2 personas</option>
                                <option value="3persona">3 personas</option>
                                <option value="4persona">4 personas</option>
                                <option value="5persona">5 personas</option>
                                <option value="6persona">6 personas</option>
                            </select>
                        </div>
                    </div>
                    <div class="box-container">
                        <div class="box-subtotal">Subt</div>
                    </div>
                    <div class="box-container-x">
                        <div class="box-cancel">X</div>
                    </div>
                </div>
            </div>
            <div class="product-container">
                <img class="product-image" src="/images/logo.jpg" alt="product-image">
                <div class="description">
                    Aca va la descripcion de la compra
                </div>
                <div class="box">
                    <div class="box-container">
                        <div class="box-amount">
                            <select name="Cantidad" id="cantidad">
                                <option value="1persona" selected>1 persona</option>
                                <option value="2persona">2 personas</option>
                                <option value="3persona">3 personas</option>
                                <option value="4persona">4 personas</option>
                                <option value="5persona">5 personas</option>
                                <option value="6persona">6 personas</option>
                            </select>
                        </div>
                    </div>
                    <div class="box-container">
                        <div class="box-subtotal">Subt</div>
                    </div>
                    <div class="box-container-x">
                        <div class="box-cancel">X</div>
                    </div>
                </div>
            </div>
            <div class="product-container">
                <img class="product-image" src="/images/logo.jpg" alt="product-image">
                <div class="description">
                    Aca va la descripcion de la compra
                </div>
                <div class="box">
                    <div class="box-container">
                        <div class="box-amount">
                            <select name="Cantidad" id="cantidad">
                                <option value="1persona" selected>1 persona</option>
                                <option value="2persona">2 personas</option>
                                <option value="3persona">3 personas</option>
                                <option value="4persona">4 personas</option>
                                <option value="5persona">5 personas</option>
                                <option value="6persona">6 personas</option>
                            </select>
                        </div>
                    </div>
                    <div class="box-container">
                        <div class="box-subtotal">Subt</div>
                    </div>
                    <div class="box-container-x">
                        <div class="box-cancel">X</div>
                    </div>
                </div>
            </div>

            <div class="product-total">
                <div class="total-products">TOTAL</div>
                <div class="go-pay">
                    <a href="/">IR A PAGAR</a>
                </div>
            </div>

        </div>
    </main>
</body>

</html>