* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }
  body {       
    font-family: "Rubik", sans-serif;    
    flex-wrap: wrap;
    flex-direction: column;
    align-items: stretch;
    background-image:url(../images/registro_fondo.jpg) ;
    background-attachment: fixed;
    background-size:cover ;
  }    
  
  main {
    
    padding: 5%;  
  }
 main .who-we-are{   
    background-image:url(../images/index-background.jpg) ;
    background-attachment: scroll;
    background-size:cover ;   
    width: 100%;       
    padding: 5%;
    display: flex;  
    justify-content: center; 
  } 
  main > section .text{
    text-align: center;
    margin: 15% 0% 20% 0%;
  } 
 main  .resumeText{   
  padding: 10px 15px;
  font-size: 20px;
  text-align: center;
  color: #fff;   
}
main #form-index{ 
  margin-top: 0%;
  background: rgba(2, 9, 70, 0.65);
  font-size: 10px;
  color: #fff;
  padding: 10px 15px;
  line-height: 120%;   
} 
div.input-form-index > input{  
    font-size: 8px;
    height: 1.5em;
}
.input-form-index,.button-form-index{
  margin-top: 5%;  
}
 main .recomendation , .what-are-you-waiting {
  font-size: 12px;
  text-align: center;
  color: white;
  background: rgba(2, 9, 70, 0.65);
  padding: 1%;    
}
.articles{
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  height: 180vh;
  z-index: 100;
}
.article{  
  font-size: 8px;
  height: 33%;
  margin-top: 5%;  
  padding: 2%;
  width: 100%;
  box-shadow: 4px 5px 5px 1px grey; 
  background-color: #fff; 
}
.main-article > div {
  margin-top: 4px;
  font-size: 18px;
}
.main-article > p {
  margin-top: 4px;
  font-size: 18px;
}
.main-article > h3 {
  margin-top: 5%;
  font-size: 1.8em;
}
.articles .div-image{
  height: 50%;
  margin: 10px;
  overflow: hidden;
  border-radius: 5px;
  border: #000000 1px solid;
}

.article >a >div > img{   
  height: 100%;
  width: 100%;  
}
.article .price{
  margin-top: 5%;
  text-align: center;  
  color: darkslateblue;
  opacity: 0.9;
  font-size: 1.8em;
}
.article .discount{
  text-align: center;  
  color: darkslateblue;
  opacity: 0.9;
}
.article-button{
  margin: 10% 20%;
  height: 40px;
  background-color: darkslateblue;
  opacity: 0.9;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3%; 
}
.article-button > a {
  color: #fff;
  text-decoration: none;
  font-size: 1.8em;
}

.main-article{
  margin-top: 2%;
  font-size: 16px;
}
main .slider-section{  
  background-image: url(../images/arcoiris-background.jpg);
  background-attachment: scroll;
  background-size: contain;
  width: 100%;
  overflow: hidden; 
  margin: 3% 0%;   
}
main > section .color-slider{  
  margin: 0% 10%;    
  overflow: hidden;
  margin-top: -8%;
} 
main .slider-container{
  height: 100%;
  width: 100%;
  display: flex;
  align-content: center;
  vertical-align: bottom; 
  margin-top: 10%;  
}
.title-slider{
  text-align: center;
    font-size: 1.8em;
    background: rgba(2, 9, 70, 0.65);
    color: white;
    padding: 1%;
}

main .slider-contain{
  width: 50%;
  height: 50;
  display: flex;
  justify-content: space-around;
  flex-shrink: 0;  
}

.slider-image{    
  width: 100%;
  height: 100%;  
  border-radius: 0.2em;
}
.carrousel{
  width: 100%;  
}
.carrousel >h2{
  width: 100%;
    background: rgba(2, 9, 70, 0.65);
    font-size: 1.8em;
    color: white;
    font-weight: bold;
    text-align: center;
    margin: 5% 0%;
    height: 70px;
    padding-top: 1%;
}
.conteCarrousel{
  width: 100%;  
  overflow: hidden;
}

.itemCarrousel{
  position: relative;
  width: 100%;
  height: 100%;
}

.itemCarrouselTarjeta{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;  
}
.testimonio_caja{
  width: 300px;
  box-shadow: 2px 2px 5px rgb(0 0 0);
  background-color: white;
  margin: 30px;
  padding: 20px;
  cursor: pointer;
  border-radius: 5px;
}
.perfil{
  display: flex;
  align-items: center;
}
.resenias > i{
  margin-top: 2px;
  color: darkgoldenrod;
}
.resenias .fa-thin{
  color: lightgrey;  
}
.name-user{
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}
.perfil-img{
  width: 50px;
  height: 50px;  
  border-radius: 50%;
  overflow: hidden;
}
.perfil-img img {
  width: 100%;
  height: 100%;
  object-fit:center;  
}

.itemCarrouselArrows{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%; 
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px; 
  visibility: hidden;
  
}

.itemCarrouselArrows > i:hover {
  cursor: pointer;
}
.conteCarrouselController > a:hover{
  cursor: pointer;
}
main ul{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
}

.conteCarrouselController{
  width: 100%;
  display: flex;
  justify-content: center;
  visibility: hidden;
}

.conteCarrouselController > a{
  text-decoration: none;
  font-size: 2em;
  color: grey;
}

.itemCarrouselArrows > a > i{
  color: white;
}

/* --------cellphone------------ */
@media (min-width:300px){
   
  main .recomendation {
    margin: 5% 0% 0% 0%;
  }
  main .what-are-you-waiting {
    font-size: 12px;
  }
  div.input-form-index > input{
    font-size: 10px ;

  }     

}
/* --------big cellphone and tablet------------ */
@media (min-width:480px){
  main .who-we-are{ 
    height: 80vh;
  }

  main section .resumeText{
    font-size: 2rem;       
  }
  main #form-index{    
    font-size: 16px;    
  } 
  div.input-form-index > input{
    font-size: 12px;
    height: 2em;
  }
  main .recomendation , .what-are-you-waiting {
    font-size: 12px;
  }
  main .what-are-you-waiting {
    font-size: 14px;
  }   

}

/* --------big tablet and laptop------------ */
@media (min-width:769px){ 
  main .who-we-are{ 
    height: 100vh;
  }
 
   main section .resumeText{
    font-size: 3em;   
  }
  main #form-index{     
    font-size: 20px;    
  } 
  div.input-form-index > input{
    font-size: 18px;
    height: 2.2em;
  }

  main .recomendation , .what-are-you-waiting {
    font-size: 1.8em;
  }
  .articles{
    display: flex;
    justify-content: space-around;
    height: 100vh;
    flex-direction: row;
    margin-bottom: 10%;
  }
  .article {
    font-size: 8px;
    height: 100%;
    margin-top: 5%;
    padding: 2%;
    width: 100%;
    box-shadow: 4px 5px 5px 1px grey;   
}
#article1,#article2{
  margin-right: 1%;
}
.article .div-image { 
  margin: 0%;   
  overflow: hidden;
  background-size: contain;
  transition: all 0.5s ease;    
}
  main .what-are-you-waiting {
    font-size: 1em;
    margin-top: 1%;;
  }
  .div-image:hover{    
    transform: scale(1.1); 
    margin-bottom: 5%;    
  }  
  .conteCarrousel{
    width: 100%;
    height: 200px;
    overflow: hidden;
  } 
  .itemCarrouselTarjeta{    
    flex-wrap: nowrap;  
  }
  .testimonio_caja{   
    margin: 30px;
    padding: 20px;
    height: 90%;    
  }
  #itemCarrousel-1,#itemCarrousel-2,#itemCarrousel-3{
    background-color: rgba(2, 9, 70, 0.65);
    height: 100%;
  }
  .itemCarrouselArrows {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    visibility:visible;
}
.itemCarrouselArrows :active {
  color: cornflowerblue;
}
.conteCarrouselController{  
  visibility:visible;
}
.conteCarrouselController > a:active{
  color: cornflowerblue;
  
}
 .comentarios_clientes{    
    overflow-y:scroll;
  }
  .comentarios_clientes::-webkit-scrollbar{    
    width: 10px;    
  }
  .comentarios_clientes::-webkit-scrollbar-track{ 
    background: #ba1a1a;
    border-radius: 20px;
      
  }
  .comentarios_clientes::-webkit-scrollbar-thumb{
    
    
  }
  .comentarios_clientes::-webkit-scrollbar-thumb:hover{
    background:darkslateblue ;
  }

 
}

