* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }
  
  body {   
    font-family: "Rubik", sans-serif;
    background-color: #8bd6eb; 
    width: 100vw;
  }
  body >header, footer{
    height: 15vh;
  }
 body .logo{
  width: 20%;
  height: 80%;
  padding: 2%;  
 }

main {
  background-color: #FFFFFF; 
}

/* --------cellphone------------ */
@media (min-width:300px){
  main {
    padding: 5%;    
  }
  
  main  .who-we-are{  
    width: 100%;
    height:50%;
    padding: 5%;
    display: flex;  
    justify-content: center;    
  }
  .who-we-are .image{
    width: 20vw;
    height: 30h;   
    padding-top: 10px;    
  }
  .who-we-are .text{  
    padding: 4%;     
  }
  main section .resumeText{
    font-size: 20px;
    text-align: center;
  }
  main section .description{
    
    font-size: 10px;
    padding-top: 5px;
    text-align: justify;
    line-height: 120%;
  }
  
  main .slider-section{
    width: 100%;
    height: 40%;
    padding-top: 6%;
    overflow: hidden;    
  
  }
  main .slider-container{  
    width: 100%;  
    display: flex; 
    align-content: center;
    text-align: bottom;    
  }
  
  main .slider-contain{ 
    width: 100%;   
    display: flex;
    justify-content: space-around;
    flex-shrink: 0;
  }
  .slider-image{      
    width: 90%;
    height: 53%;
  }

}
/* --------big cellphone and tablet------------ */
@media (min-width:480px){
  main {
    padding: 5%;   
  }
  
  main  .who-we-are{  
    width: 100%;
    height:55%;
    padding: 5%;
    display: flex;  
    justify-content: center;    
  }
  .who-we-are .image{
    width: 25vw;
    height: 45vh;
    padding-top: 10px;    
  }
  .who-we-are .text{  
    padding: 2% 5%; 
    justify-content: space-around;  
  }
  main section .resumeText{
    font-size: 2rem;
    text-align: center;
  }
  main section .description{
    
    font-size: 1rem;
    padding-top: 1%;
    text-align: justify;
    line-height: 1.2rem;
  }
  
  main .slider-section{
    width: 100%;
    height: 40%;
    padding-top: 6%;
    overflow: hidden;    
  
  }
  main .slider-container{
    width: 100%;
    display: flex;
    align-content: center;
    vertical-align: bottom;     
  }
  
  main .slider-contain{
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-shrink: 0;
  }
  .slider-image{       
    width: 90%;
    height: 50%;
    text-align: center;
  }

}

/* --------big tablet and laptop------------ */
@media (min-width:769px){

  main {
    padding: 5% 10%; 
    height: 200vh;   
  }
  
  main  .who-we-are{  
    width: 100%;
    height:55%;
    padding: 10px;
    display: flex;  
    justify-content: center;    
  }
  .who-we-are .image{
    width: 25vw;
    height: 85vh;
    padding-top: 2%;   
  }
  .who-we-are .text{  
    padding: 2% 2%;      
  }
  main section .resumeText{
    font-size: 3em;
    text-align: center;
  }
  main section .description{
    
    font-size: 1.3em;
    padding: 5% 0% 0% 10%;
    text-align: justify;
    line-height: 130%;
  }
  
  main .slider-section{
    width: 100%;
    padding-top: 3%;
    height: 40%;
    overflow: hidden;    
  
  }
  main .slider-container{
    width: 100%;
    display: flex;
    align-content: top;
    vertical-align: center;        
  }
  
  main .slider-contain{
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-shrink: 0;
  }
  .slider-image{    
    width: 100%;
    height: 50%;
  }

}

