* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

header {
  display: none;
}

body {
  background-image: url(/images/trekking-raquetas.jpg);
  font-family: "Rubik", sans-serif;
  background-position: center;
  background-color: #8bd6eb
}

.cart-container {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: auto;
  border: #000000 2px solid;
  background-color: #364c59;
  opacity: 80%;
  color: #000000;
  border-radius: 5px;
  margin-top: 20px;
  margin-bottom: 20px;
  box-shadow: 0px 0px 20px rgb(100, 100, 100);
}

main .cart-container ul {
  list-style: none;
}

main .cart-container .file-txt {
  display: flex;
  justify-content: space-between;
  background-color: #cbb349;
  font-weight: bold;
}

main .cart-container .file-txt {
  display: flex;
  align-items: center;
}

main .cart-container .product-txt {
  display: flex;
}

main .cart-container .product-txt li {
  margin: 10px;
}

.product-image {
  width: 50px;
  height: 50px;
  margin: 10px;
  border-radius: 10px;
}

.product-container {
  display: flex;
  justify-content: space-between;
  border: #000000 2px solid;
}

.box {
  display: flex;
  align-items: center;

}

.box-container {
  align-items: center;
  background-color: #ffffff;
  margin: 10px;
  border: #000000 2px solid;
  border-radius: 5px;

}

.box-amount {
  margin: 0 10px;
}

.box-subtotal {
  margin: 0 10px;
}

.box-cancel {
  margin: 0 10px;
}

.product-total {
  background-color: #84a60a;
  font-size: 25px;
  font-weight: bold;
  color:#000000;
  display: flex;
  justify-content: space-between;
}