<%- include ('partials/head', {style: 'register' , title: 'Registro' }) %>

    </head>

    <body>

        <%- include ('partials/header') %>
            <main>
                <form action="/admin/createProcess" method="post" class="create-form">
                    <div class="caja1">
                        <div class="h2">
                            <h2>Formulario para cargar actividad</h2>
                        </div>
                        <div class="form-control">
                            <label>I.D:</label>
                            <input type="number" name="name" class="control">
                        </div>
                        <div class="form-control">
                            <label>Nombre de la actividad:</label>
                            <input type="text" name="name" class="control">
                        </div>
                        <div class="form-control">
                            <label>Descripción:</label>
                            <textarea type="text" name="description" placeholder="Detalle de la actividad" required
                                rows="5" style="width: 100%;"></textarea required>
                </div>
                <div class="form-control">
                    <label>Imagen:</label>
                    <input type="file" name="image" class="control">
                </div>
                <div class="form-control">
                    <label>Dificultad</label>
                    <select name="category" class="control">
                        <option value="argentina">Dificultad Baja</option>
                        <option value="bolivia">Dificultad Media</option>
                        <option value="brasil">Dificultad Alta</option>
                        <option value="chile">Dificultad Extrema</option> 
                    </select>
                </div>

                <div class="form-control">
                    <label>Precio $</label>
                    <input type="number" name="price" class="control">
                </div>
                
                <div class="form-control">
                    <label>Fecha y Hora de INICIO:</label>
                    <input type="datetime-local" name="email" placeholder="nombre@gmail.com" class="control">
                </div>
                <div class="form-control">
                    <label>Fecha y Hora de FINALIZACION:</label>
                    <input type="datetime-local" name="email" placeholder="nombre@gmail.com" class="control">
                </div>
                
                
                
            <div class="caja2">
                <button type="submit" class="form-button">Subir</button>
                <button type="reset" class="form-button">Limpiar</button>
                <div class="pregunta-de-registro">
                    <label>¿Necesitas ayuda? <br>
                        Entra en este link</label>
                </div>
               
                
            </div>
            </div>
        </div>
        </form>
    </main>
</header>

<%- include ('partials/footer') %> 