<%- include ('partials/head', {style: 'style' , title: 'Iniciar Sesion' }) %>
    </head>

    <body>
        <%- include ('partials/header') %>

            <main>
                <div class="containerPrincipal">

                    <div class="form-group">                        
                        <h1>¡BIENVENIDOS!</h1>                                                
                        <form action="/user/login" method="post">    
                        <input id="usuario" type="text" class="form-control" name="email" placeholder="email">

                        <input id="contraseña" type="password" class="form-control" name="password"
                            placeholder="contraseña">

                        <button type="submit" class="boton">iniciar sesion</button>
                        </form>                        
                        <a href="/register" class="cuenta">¿No tienes Cuenta? <b>Registrate</b></a>

                        <a href="/recovery" class="olvidar">¿Olvidaste tu contraseña?</a>
                        <a href="https://www.facebook.com"><button id="facebook">Ingresa con Facebook</button></a>
                        <a href="https://www.gmail.com"><button id="gmail">Ingresa con Gmail</button></a>

                    </div>
                </div>
            </main>
            <%- include ('partials/footer') %>